
<header class="page-header">
    <div id="balanza" class="balanza"> 
              <form action="index.php">
                       <input type="text" name="orden1" 
                  onfocus="this.value = '';"  value=""  autofocus  placeholder="ORDEN"  />
               </form>
     </div> 
</header>
