<style>
footer {
    background-color: black;
    position: relative;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }
</style>

<footer>
<div id="footer" class="footer" >
    <h3>Fundamentos de Angular: Práctica N° 1          
    </h3>
</div>
</footer>
