
<div class="demo-wrapper">
    <header>
        <div id="titulo" style="padding: 0px; margin: 0px;" >
          <h1>Receta PAMI: P00006652   
              
          </h1>
        </div>
    </header>
</div>
