/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/08/2017, 09:15:46
    Author     : User
*/


#centroNOSIRVE {  
width : 1260px;  
padding-left: 100px;
/* border:#000 solid 1px;  */ 
}  
#izquierda2 {  
width: 465px;  
/* border:#FC0 solid 1px;  */

float:left;
} 
#derecha2 {  
width: 250px;
 /* border:#FC0 solid 1px; */ 
/* padding: 20px, 20px,20px,20px; */
float:right;
} 

#izquierda3 {  
width: 265px;  
/*border:#FC0 solid 1px; */
float:left;
} 

#derecha3 {  
    /* cantidades pesadas*/
width: 250px;  
/* border:#FC0 solid 1px;  */

margin-left: 20px;

float:right;
} 

select {
    border: 0 none;
    color: #000000;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
    width: 100px;
    *width: 350px;
    *background: #58B14C;
}

.receta {
  list-style-type: none;
  max-width: 500px;
  margin: 30px auto
}

.receta li {
  z-index:1;
  font-weight: 400;
  /*box-shadow: 0 7px 0 -4px rgba(0, 0, 0, 0.2);*/
  color: #444;
  text-align: left;
  min-height: 50px;
  line-height: 30px;
  font-size: 30px;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 10px;
  position: relative;
  opacity: 0;
  word-wrap: break-word;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.receta li:focus {
  outline: none;
}

 .balanza a{
    width:300px;
 border:1px solid black;
    background-color:#0772bd;
    color:black;
    height:20px;
    float:left;
    color:white;
    font-family:Verdana;
    font-size:15px;
    /*border-radius:5px;*/
    border-radius:4em 4em 4em 4em;
}

h4 {
  width:300px;
  border:1px solid black;
  background-color:#0772bd;
  color:black;
  height:20px;
  float:left;
  color:white;
  font-family:Verdana;
  font-size:12px;
  /*border-radius:5px;*/
  border-radius:4em 4em 4em 4em;
}