@import "http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css";
@import url(http://fonts.googleapis.com/css?family=Lato:300,100,400);


html {
  height: 100%;
  position: relative
}

body {
  background-color: #AC193D;
  font-family: "Lato", sans-serif;
  /*height: 2000px;*/
  color: white
}

li.new-item {
  opacity: 0;
  -webkit-animation: new-item-animation .3s linear forwards;
  -o-animation: new-item-animation .3s linear forwards;
  animation: new-item-animation .3s linear forwards
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    -o-transform: translateY(-400px);
    transform: translateY(-400px)
  }

  to {
    opacity: 1;
    transform : translateY(0)
  }
}

li.restored-item {
  -webkit-animation: openspace 0.3s ease forwards, 
    restored-item-animation 0.3s 0.3s cubic-bezier(0, 0.8, 0.32, 1.07) forwards;
  -o-animation: openspace 0.3s ease forwards, 
    restored-item-animation 0.3s 0.3s cubic-bezier(0, 0.8, 0.32, 1.07) forwards;
  animation: openspace 0.3s ease forwards, 
    restored-item-animation 0.3s 0.3s cubic-bezier(0, 0.8, 0.32, 1.07) forwards
}

@keyframes openspace {
  to {
    height: auto
  }
}

@keyframes restored-item-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(600px) rotateZ(90deg);
    -ms-transform: translateY(600px) rotateZ(90deg);
    -o-transform: translateY(600px) rotateZ(90deg);
    transform: translateY(600px) rotateZ(90deg)
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(600px) rotateZ(90deg);
    -ms-transform: translateY(600px) rotateZ(90deg);
    -o-transform: translateY(600px) rotateZ(90deg);
    transform: translateY(600px) rotateZ(90deg)
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0)
  }
}

li.removed-item {
  -webkit-animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  -o-animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(600px) rotateZ(90deg);
    -ms-transform: translateY(600px) rotateZ(90deg);
    -o-transform: translateY(600px) rotateZ(90deg);
    transform: translateY(600px) rotateZ(90deg)
  }
}



@-webkit-keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px)
  }

  to {
    opacity: 1;
    transform : translateY(0)
  }
}

@-o-keyframes new-item-animation {
  from {
    opacity: 0;
    -o-transform: translateY(-400px);
    transform: translateY(-400px)
  }

  to {
    opacity: 1;
    transform : translateY(0)
  }
}

@-webkit-keyframes openspace {
  to {
    height: auto
  }
}

@-o-keyframes openspace {
  to {
    height: auto
  }
}

@-webkit-keyframes restored-item-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(600px) rotateZ(90deg);
    transform: translateY(600px) rotateZ(90deg)
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(600px) rotateZ(90deg);
    transform: translateY(600px) rotateZ(90deg)
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0)
  }
}

@-o-keyframes restored-item-animation {
  0% {
    opacity: 0;
    -o-transform: translateY(600px) rotateZ(90deg);
    transform: translateY(600px) rotateZ(90deg)
  }

  10% {
    opacity: 1;
    -o-transform: translateY(600px) rotateZ(90deg);
    transform: translateY(600px) rotateZ(90deg)
  }

  100% {
    opacity: 1;
    -o-transform: rotateZ(0);
    transform: rotateZ(0)
  }
}

@-webkit-keyframes removed-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(600px) rotateZ(90deg);
    transform: translateY(600px) rotateZ(90deg)
  }
}

@-o-keyframes removed-item-animation {
  0% {
    opacity: 1;
    -o-transform: rotateZ(0);
    transform: rotateZ(0)
  }

  100% {
    opacity: 0;
    -o-transform: translateY(600px) rotateZ(90deg);
    transform: translateY(600px) rotateZ(90deg)
  }
}
