@import url(http://fonts.googleapis.com/css?family=Lato:300,100,400);

*{
  margin:0;
  padding:0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:relative;
  list-style: none;
  outline: 1px solid transparent;
}
li [class^=icon-],
li [class*=" icon-"] {
  width: 40px !important;
  font-size: 22px;
  display:block !important;
  position:absolute !important;
  float:none !important;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2)
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2)
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2)
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2)
}


html, body{
  height:100%;
}
body{
  background-color: #eee;
}
.page-header{
  width:100%;
  color:white;
  padding:5px 30px;
  font: normal 18px/1.5 "Lato", "Arial", sans-serif;
  overflow:hidden;
}
.demo-nav{
  float:right;
}
.page-header a{
  color: inherit;
  text-decoration: none;
}

.demo-nav li{
  display:inline-block;
  margin: 0 5px;
}
.demo-nav li a, .tutorial-link{
  display:block;
  width:100%;
  height:100%;
  padding:10px 15px;
}
.tutorial-link{
  float:left;
  width:auto;
}
.demo-nav a.active, .demo-nav a:hover, .demo-nav a:active{
  border-bottom:2px solid white;
}
h1{
  margin-bottom:5px !important;
}
h1 {
  font: 300 3.2em/1.2 "Lato", sans-serif;
  color: white;
  margin: 0
}

header {
  padding-top: 10px;
  margin-bottom: 10px;
  text-align:center;
}
header p{
  color:rgba(255,255,255,.6);
}

.reminder-container {
  margin: 0 auto;
  width: 500px;
  text-align: center
}

input[type='text'] {
  width: 430px;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight:300;
  color: white;
  float:left;
  padding:5px 10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background-color: rgba(0,0,0,.15);
}
input[type='submit']{
  height:50px;
  width:70px;
  padding:10px;
  text-align:center;
  background-color: rgba(0,0,0,.25);
  border:0;
  border-left:0;
  color: white;
  cursor:pointer;
  padding:0;
  vertical-align:bottom;
  font:300 18px "Lato", "Arial", sans-serif;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type='text']:focus {
  outline: none;
}
.icon-trash,
.icon-pencil,
.icon-save {
  position: absolute;
  top: 3px;
  color: #aaa;
  cursor: pointer;
  right: 40px
}

.icon-trash {
  right: 10px
}

.notification {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 3;
  padding: 5px 10px;
  color: white;
  display: none;
  box-shadow: 0 4px 0 -2px rgba(0, 0, 0, 0.1)
}
.undo-button{
  background-color: orange;
  cursor: pointer;
  margin-left: -100px;
}
.save-notification{
  background-color: #2ecc71;
  margin-left: -50px;
}

button,
.clear-all {
  border:0;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  float: right;
  cursor: pointer;
  font-size: 16px
}
.clear-all{
  background-color: rgba(0,0,0,.25);
  font:300 18px "Lato", "Arial", sans-serif;
}

button.disabled,
.clear-all.disabled {
  background-color: rgba(0,0,0,.25);
  color: grey;
}

button.disabled .icon-trash,
.clear-all.disabled .icon-trash {
  color: #888
}

button .icon-trash {
  float: none;
  margin-right: 10px;
  opacity: 1 !important;
  position: static
}

.count {
  float: left
}

.count:after {
  content: " item(s)"
}
.reminders {
  list-style-type: none;
  max-width: 500px;
  margin: 30px auto
}

.reminders li {
  z-index:1;
  font-weight: 400;
  /*box-shadow: 0 7px 0 -4px rgba(0, 0, 0, 0.2);*/
  color: #444;
  text-align: left;
  min-height: 50px;
  line-height: 30px;
  font-size: 20px;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 60px;
  position: relative;
  opacity: 0;
  word-wrap: break-word;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease
}

.reminders li:focus {
  outline: none;
}
li[contenteditable='true']{
  color:black;
}
