
<div class="demo-wrapper">
    <div id="centro2"> 

        <!--

    
        <div id="izquierda2" style="width: 270px;">
        <legend>COMPONENTES REQUERIDOS</legend>
            <ul class="receta">
                <li class="new-item" style="width: 670px; height:15px; font-size: 25px; padding: 5px; margin-bottom: 3px;">
                    PARACETAMOL 1 GR
                </li>
                <li class="new-item" style="width: 670px; height:15px; font-size: 25px; padding: 5px; margin-bottom: 3px;">
                    UREA NM 15 G POLVO PARA SOLUCION ORAL x 10
                </li>
            </ul> 
        </div>
    -->
   
        <div id="izquierda2" style="width: 270px;">
            <legend>COMPONENTES REQUERIDOS</legend>
                <ul class="receta">
                    <li class='new-item' style="width: 670px; height:15px; font-size: 25px; padding: 5px; margin-bottom: 3px;"
                    *ngFor='let nombre of nombres; let i=index'>
                     <p>{{i + 1}} - 
                            Nombre: <b>{{ nombre.nom }}</b></p>
                          
                     </li>
                </ul> 
        </div>


        
        <div id="derecha2" style="width: 200px;">
            <legend>CANT. REQUERIDAS(Kg)</legend>
            <ul class="receta">
                <li class='new-item' style="width: 100px; height:15px; font-size: 25px; padding: 5px; margin-bottom: 3px;"
                        *ngFor='let nombre of nombres; let i=index'>
                
                         <p><b>{{ nombre.cant}}</b></p>
                 </li>
            </ul> 
        </div>        


</div> 


</div><!--end demo-wrapper-->